matplotlib
plotly
streamlit
# chromadb
# pinecone-client
tiktoken
pandas
numpy
scipy
# pypdf==3.14.0
# PyPDF2
# pdfminer
# textract
openai
python-dotenv
sentence-transformers
faiss-cpu
torch
transformers
tqdm